/*-------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.head{margin:5px; }
.category{
    background-color:rgb(252, 245, 247);
    display: flex;
    justify-items: left;
}

.logo{width: 90px; height:85px;}











