/*-------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.or{text-align: center;}

.heading{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 5px;
}

/*NAV BAR*/
.head{margin:5px; }
.logo{width: 90px; height:85px;}

/*CATEGORY*/
.category{
    background-color:rgb(252, 245, 247);
    display: flex;
    justify-content: space-around;
}

.fish,.chicken,.megaDeals,.tocook,.prawns,.egg,.mutton{
    text-align: center;
}






























